<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--
    <add name="Model1" connectionString="data source=220.233.155.164,7045;initial catalog=Newcollege;user id=puncapp_user;password=PC8JzfwV_W/5@T1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="test" connectionString="data source=220.233.155.164,7045;initial catalog=College;user id=puncapp_user;password=PC8JzfwV_W/5@T1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    -->
    <!--The existing Database to maange College-->
    <!--
    <add name="CollegeDbContext" connectionString="Data Source=220.233.155.164,7045;Initial Catalog=College;user id=puncapp_user;password=PC8JzfwV_W/5@T1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    -->
    <!--The existing Database to maange Newcollege-->
    <!--
    <add name="NewcollegeDbContext" connectionString="Data Source=220.233.155.164,7045;Initial Catalog=Newcollege;user id=puncapp_user;password=PC8JzfwV_W/5@T1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="Model1" connectionString="data source=192.168.1.41,7045;initial catalog=Newcollege;user id=puncapp_user;password=PC8JzfwV_W/5@T1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=192.168.1.41,7045;initial catalog=Newcollege;user id=puncapp_user;password=PC8JzfwV_W/5@T1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=220.233.155.164,7045;initial catalog=College;user id=puncapp_user;password=PC8JzfwV_W/5@T1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>