@model PreUni.OnlineTest.Web.MVC.ViewModel.ProgressCommentTabControlViewModel

<li class="col-12 col-sm-6 col-md-3 nav-item">
    <a class="TabzControlListener nav-link text-wrap text-center active" id="pills-@(Model.CommentIndex)-@Model.StudentID-tab" data-toggle="pill"
       href="#pills-@(Model.CommentIndex)-@Model.StudentID" role="tab" aria-controls="pills-@(Model.CommentIndex)-@Model.StudentID" aria-selected="false">
        <span class="">
            Comment @(Model.CommentIndex)
        </span>
    </a>
</li>