
@{
    ViewBag.Title = "HandleNoData";
}


<div class="container mt-5 pt-5">
    
    <h2>No Data</h2>
    
    <hr/>
    
    <p>Sorry. There is no data found. </p>
    <p>Contact Administrator. </p>

    <hr/>

    @Html.ActionLink("Back to List", "Index","Class")
</div>

<script>

</script>